In [106]:
import tensorflow as tf
import numpy as np 
import pandas as pd
import seaborn as sns  
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer 
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [107]:
data=pd.read_csv('./data.csv')

In [108]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [109]:
data.groupby('Category').describe().T

Category                           ham  \
Message count                     4825
        unique                    4516
        top     Sorry, I'll call later
        freq                        30

Category                                                     spam
Message count                                                 747
        unique                                                641
        top     Please call our customer service representativ...
        freq                                                    4

In [124]:
ham_data = data[data.Category == 'ham']
spam_data = data[data.Category == 'spam']
print(spam_data.shape)
print(ham_data.shape)
print(data.shape)

(747, 2)
(4825, 2)
(5572, 2)

In [123]:
ham_data=ham_data.sample(n=len(spam_data),random_state=42)
print(ham_data.shape,spam_data.shape)

(747, 2) (747, 2)

In [125]:
balanced_data=ham_data.append(spam_data).reset_index(drop=True)

C:\Users\subek\AppData\Local\Temp\ipykernel_10008\1292294232.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  balanced_data=ham_data.append(spam_data).reset_index(drop=True)