In [14]:
import tensorflow as tf
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer 
from tensorflow.keras.preprocessing.sequence import pad_sequences

ModuleNotFoundError: No module named 'seaborn'

In [4]:
data=pd.read_csv('./data.csv')

In [6]:
data.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [11]:
data.groupby('Category').describe().T

Category                           ham  \
Message count                     4825
        unique                    4516
        top     Sorry, I'll call later
        freq                        30

Category                                                     spam
Message count                                                 747
        unique                                                641
        top     Please call our customer service representativ...
        freq                                                    4

In [13]:
import seaborn as sns  
plt.figure(figsize=(12,14))
sns.countplot(data['Category'])

ModuleNotFoundError: No module named 'seaborn'